<%- include('../includes/header') %>
<%- include('../includes/navbar', { activePage: 'Configuration' }) %>
<%- include('../includes/configNav', { activePage }) %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Access Settings</h1> 
            <p>
                This page is used to manage access to the Njobvu AI platform. You can add or remove users from the platform.
            </p>
            <hr>
        </div>
    </div>
</div>