<%- include('../includes/header') %>
<%- include('../includes/navbar', { activePage: 'Configuration' }) %>
<%- include('../includes/configNav', { activePage }) %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Import Images</h1>
            <p>
                This page allow you to import images to the Njobvu AI platform. Upload multiple images at once by zipping them into a single file.
            </p>
            <hr>
        </div>
    </div>
</div>