<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'default' ? 'active' : '' %>" href="/create" style="border-radius: 0">Import Image/video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'Classification' ? 'active' : '' %>" href="/createClassification" style="border-radius: 0">Import Classification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'classInference' ? 'active' : '' %>" href="/classInference" style="border-radius: 0">Import Classification</a>
        </li>
    </ul>
</div>
