<div class="col-md-12" style="width: 15%;">
    <ul class="nav nav-tabs flex-sm-column">
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'yolovXInferencePage' ? 'active' : '' %>" href="/yolo/yolovXInferenceSettings?IDX=<%= IDX %>" style="border-radius: 0">YOLO (ultralytics)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'servstats' ? 'active' : '' %>" href="/servstats?IDX=<%= IDX %>" style="border-radius: 0">Server Stats</a>
        </li>
    </ul>
</div>
