<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/projectV?IDX=<%= IDX %>&page=1&perPage=10" style="border-radius: 0">Labels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/configV?IDX=<%= IDX %>" style="border-radius: 0">Configuration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/statsV?IDX=<%= IDX %>" style="border-radius: 0">Stats</a>
        </li>
    </ul>